#about {
    padding: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
        .profil {
            max-width: 280px;
            margin: auto;
            @include breakpoint (large) {
                margin: 0;          
            } //fin include          
        }
        .about-description{
            display: flex;
            flex-flow: column wrap;
            background-color: rgba(255, 255, 255, 0.123);
            padding: 1rem;
            
            @include breakpoint (large) {
                max-width: 50vw;
                margin: auto;
            } //fin include
            .note {
                align-self: center;
                padding: 0.5rem;
            }
        }//fin about-description
} //about