header {
    background-color: rgb(192, 190, 190);
    #menu_toggler {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.8rem;
        padding: 0.5rem;
        &:link,
        &:visited,
        &:hover,
        &:active,
        &:focus {
            outline: 0 !important;
        }
        @include breakpoint (large) {
            display: none;
        } //fin include
    } //fin menu-toggler
    #menu_nav {
        background-color: rgb(255, 255, 255);
        @include breakpoint (large) {
            display: block !important;
        } //fin include
        .menu-content {
            border-top: 5px solid aliceblue;
            border-bottom: 5px solid aliceblue;
            display: flex;
            flex-flow: column wrap;
            align-items: flex-start;
            @include breakpoint (large) {
                flex-flow: row wrap;
            } //fin include
            
            .menu-items {
                
                margin: auto;
                padding: 1rem 0;
                .menu-link {
                    padding: 1rem 0.5rem;
                    color: rgb(66, 66, 66);
                    text-transform: uppercase;
                    &:link,
                    &:visited,
                    &:active,
                    &:focus {
                        outline: 0 !important;
                    }
                    &:hover {
                        color: antiquewhite;
                        background-color: rgb(86, 93, 116);
                    }
                    i {
                        width: 25px;
                        font-size: 1rem;
                        margin-right: 0.5rem;
                    }
                } //fin menu-link
            } //fin menu-items
        } //fin menu-content
    } //fin menu-nav
} //fin header

.laptop-parallax {
    background-image: url('../../assets/images/laptop.jpg');
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    
    .profil{
        max-width: 250px;
        margin: auto ;
        box-shadow: 5px 5px 8px rgb(0, 0, 0);
        @include breakpoint (small) {
            width: 100%;
        } //fin include
    }
    
    .header-content {
        margin: auto;
        box-shadow: 5px 5px 8px rgb(0, 0, 0);
        min-height: 352px;
        min-width: 75vw;
        display: flex;
        background-image: url("../../assets/images/Background_Blue.jpg");
        opacity: 0.75;
        justify-content: center;
        flex-flow: row wrap;
        @include breakpoint (small) {
            width: 100%;
        } //fin include
        @include breakpoint (large) {
            margin: auto ;
        } //fin include
        
        
        .brand-container {
            font-family: 'Inconsolata', monospace;
            color: aliceblue;
            border-top: 2.5px solid aliceblue;
            border-bottom: 2.5px solid aliceblue;
            margin: 1rem auto;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            .brand-name {
                padding: 0.5rem;
                text-align: center;
                font-size: 2rem;
                @include breakpoint (medium) {
                    font-size: 3rem;
                } //fin include
            } //fin brand-name
            .brand-slogan {
                text-align: center;
                padding: 1rem;
                text-transform: uppercase;
                font-size: 1rem;
                @include breakpoint (medium) {
                    font-size: 1.5rem;
                } // fin include
                strong{
                    font-weight: 300;
                }
            } //fin brand-slogan
            .chevron {
                color: rgb(219, 77, 77);
            }
        } //fin brand-container
    } //fin header-content
}