// ********** general reset************************************************
* {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//*********** tag settings ************************************************
section {
    color: rgb(66, 66, 66); // padding: 1rem;
    min-height: 50vh;
    margin: 2rem 0;
    font-size: 0.9rem;
    h1 {
        background-color: aliceblue;
        text-align: center;
        // padding: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        color: rgb(86, 93, 116);
        &:hover {}
    }
    @include breakpoint (large) {
        font-size: 1rem;
    } //include
}

strong {
    font-weight: 400;
}

p {
    padding-bottom: 1rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
.hide {
    display: none;
    transition: all 2s ease-in;
}

// ************ classes settings *******************************************
.parallax {
    min-height: 45vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.note {
    font-size: 1rem;
}