#skills {
    .skills-container {
        padding: 5rem 0;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        @include breakpoint (large) {
            flex-flow: row wrap;
        } //include
        .skills-box {
            color: rgb(255, 255, 255);
            background: linear-gradient(45deg, rgb(86, 93, 116), rgba(86, 93, 116, 0.699),rgb(86, 93, 116)); 
            min-height: 352px;
            margin: 0.5rem 0;
            box-shadow: 5px 5px 8px rgb(59, 59, 59);
            display: flex;
            flex-flow: column wrap;
            padding: 1rem;
            font-size: 1rem;
            line-height: 2rem;
            min-height: 50%;
            i {
                align-self: center;
                font-size: 3rem;
                color: antiquewhite;
                background-color: transparent;
                padding-bottom: 1rem;
            }
            h3 {
                font-weight: 700;
                text-align: center;
            }
            ul {
                
                padding: 1rem;
                li{
                    font-weight: 400;
                }
            }
            @include breakpoint (large) {
                margin: 1rem;
                width: 33%;
                min-height: 50%;
            } //fin include
        }//fin skills-box
    }//fin skills-container
} //fin skills
